fastapi
starlette>=0.40.0,<0.49.0
uvicorn[standard]

sqlalchemy
psycopg[binary]
asyncpg
alembic
pgvector

pydantic
python-dotenv

requests
httpx
neo4j
sqlparse

sentence-transformers
transformers
torch

numpy
pandas

python-multipart
